@import 'https://fonts.googleapis.com/css?family=Kanit';

body {
    font-family: 'Kanit', sans-serif;
}
    
.navbar{
    background-color: #810303;
}

.navbar-brand {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    left: 10px;
}

.navbar-brand:hover {
    color: #1E90FF;

}

.nav-link {
    color: #FFFFFF;
}

.nav-link:hover {
    color: #d6ff1e;
    /* background-color: #1E90FF; */
}

.nav-link:visited {
    color: #FFFFFF;
}

#navbarDropdown:hover {
    color: #d6ff1e;
}

.bg-dark {
    box-shadow: 0px 5px 5px rgb(0 0 0 / 35%);
}

#text0 {
    padding-left: 20px;
}

#text0:hover {
    color: #d6ff1e;
}

#u3 {
    position: absolute;
    left: 259px;
    top: 297px;
    width: 223px;
    display: flex;
    font-weight: 700;
    font-size: 28px;
    color: #FFFFFF;
}

#u3_div {
    border-width: 0px;
    position: absolute;
    top: 0px;
    width: 223px;
    height: 59px;
    background: inherit;
    background-color: rgba(85, 85, 85, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(85, 85, 85, 1);
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6039215686274509);
    -webkit-box-shadow: 5px 5px 5px rgb(0 0 0 / 60%);
    box-shadow: 5px 5px 5px rgb(0 0 0 / 60%);
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: #FFFFFF;
}

#u3 .text {
    position: absolute;
    padding: 5px;

}

#u3_text {
    border-width: 0px;
    word-wrap: break-word;
    text-transform: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: darkgray;
}

footer,
#footer_link {
    color: #fffdfb;
    text-decoration: none;
}
.footer{
    background-color: #810303;
}

#bt-home {
    padding: 100px;
}

#carouselExampleCaptions {
    padding: auto;
}

.carousel {
    padding: 10px 0;
    height: 1200px;
    width: 1600px;
}

.w-100 {
    width: 100% !important;
    height: auto;
}